/* GENERAL */
html {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 1.1rem;
    background-color: var(--main-bg-color);
    color: var(--font-text);
    letter-spacing: .2px;
}

*,
*:before,
*:after {
    box-sizing: inherit;
    margin: 0px;
    padding: 0px;
}

.backScene {
    opacity: .5;
    transition: all .5s;
}

/* TEXT */
.main-title {
    text-align: center;
    margin-bottom: 2rem;
    font-size: 1.6rem;
}

a {
    color: var(--font-text);
}

.router-link {
    color: var(--primary-color);
}

.d-none {
    display: flex !important;
    height: 0px;
    opacity: 0;
    transition: ease .5s;
    width: 100%;
}


.d-active {
    display: flex !important;
    transition: ease .5s;
    height: 233px;
    opacity: 1;
}

/* BUTTONS */
.primary-button-link {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 50px;
    background: var(--primary-color);
    font-weight: 500;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    transition: .3s ease all;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    color: var(--font-text-secondary);
    font-weight: 500;
    z-index: 1;
}

.primary-button-link span {
    position: relative;
    z-index: 2;
    transform: .3s ease all;
}

.primary-button-link::after {
    content: "";
    width: 1px;
    height: 1px;
    background: none;
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transition: .4s ease-in-out all;
    border-radius: 100px;
    transform-origin: center;
}

.primary-button-link:hover::after {
    transform: scale(300);
    background: dodgerblue;
}

@media only screen and (max-width: 767px) {
    .primary-button-link {
        width: 150px;
    }
}

/** FORM **/
.input-field {
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
    outline: none;
    width: 250px;
    height: 50px;
    padding-left: 20px;
    border: 2px solid var(--main-bg-color);
}

select.input-field {
    padding: 9.6px;
}

.input-field:focus {
    border: 3px solid var(--main-bg-color);
}

.input-header {
    border: 2px solid var(--primary-color);
}

.input-header:focus {
    border: 3px solid var(--primary-color);
}

@media only screen and (max-width: 767px) {

    .input-field,
    .form-control,
    .multiselect,
    .exclude-container {
        width: 100%;
    }

    input[type="color"],
    input[type="date"],
    input[type="datetime"],
    input[type="datetime-local"],
    input[type="email"],
    input[type="month"],
    input[type="number"],
    input[type="password"],
    input[type="search"],
    input[type="tel"],
    input[type="text"],
    input[type="time"],
    input[type="url"],
    input[type="week"],
    select:focus,
    .multiselect,
    textarea {
        font-size: 16px;
    }

    .input-field,
    .input-header {
        margin-bottom: 10px !important;
    }
}

::placeholder {
    color: #9CA3AF;
    opacity: 1;
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: red;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #9CA3AF;
}